:root {
    --priColor: rgb(255, 255, 255);
    --secColor: rgb(0, 0, 0);
    --blurColor: rgba(255, 255, 255, 0.336);
}

.dark-mode {
    --priColor: rgb(0, 0, 0);
    --secColor: rgba(255, 255, 255, 0.98);
    --blurColor: rgba(0, 0, 0, 0.336);

}

body {
    position: relative;
    background-color: var(--priColor);
    color: var(--secColor);
    margin: 0;
    padding: 0;
}

.der {
    position: relative;
    height: 10rem;
    margin-bottom: 1rem;
}

/* ////////// ICONS /////////// */

.material-icons {
    transition: ease-in-out 300ms;
}

.material-icons:hover {
    cursor: pointer;
    opacity: 40%;
    transition: ease 300ms;
}

#settings {
    position: absolute;
    font-size: 2em;
    right: 1rem;
    top: 0.5em;
}

#settings2 {
    position: absolute;
    font-size: 2em;
    right: 1rem;
    top: 1em;
}

#dark {
    position: absolute;
    font-size: 2.5em;
    left: 0.5em;
    top: 0.5em;
}

/* ////////// ICONS /////////// */


/* ///////////// SETTINGS OVERLAY ///////////// */


.settingsOverlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0.5rem;
    top: 0.5rem;
    background-color: var(--blurColor);
    border: 1px solid var(--secColor);
    width: 55vw;
    height: 89vh;
    backdrop-filter: blur(1rem);
    z-index: 2;
    padding: 2rem;
    transition: ease 300ms, top ease 300ms, right ease 300ms;
    border-radius: 0.5rem;
    scale: 1;
}

.vSettingsOverlay {
    position: fixed;
    display: flex;
    right: -40rem;
    top: -30rem;
    box-shadow: 1px 1px 30px 1px black;
    background-color: var(--blurColor);
    border: 1px solid var(--secColor);
    width: 55vw;
    height: 89vh;
    backdrop-filter: blur(1rem);
    z-index: 2;
    transition: ease 300ms, top ease 300ms, right ease 300ms;
    opacity: 0;
    scale: 0;
}

.settingsOverlay>.material-icons {
    position: absolute;
    font-size: 3em;
}

.settingsCards {
    /* position: absolute; */
    top: 21%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blurColor);
    border: 2px solid var(--secColor);
    border-radius: 0.5rem;
    backdrop-filter: blur(1rem);
    padding: 3em;
}

.settingsCards>p {
    font-size: 2.5em;
    transition: ease-in-out 300ms;
}

.settingsCards>p:hover {
    cursor: pointer;
    opacity: 50%;
    transition: ease-in-out 300ms;
}

.AboutUS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--blurColor);
    backdrop-filter: blur(1rem);
    border: 1px solid var(--secColor);
    padding: 3em;
    transition: ease-in-out 300ms;
    scale: 0;
}

.vAboutUS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--blurColor);
    backdrop-filter: blur(1rem);
    border: 1px solid var(--secColor);
    border-radius: 0.5rem;
    padding: 3em;
    transition: ease-in-out 300ms;
    scale: 1;
}

#AccountBack {
    position: relative;
    font-size: 2.5em;
}

.AboutUS>p {
    color: var(--secColor);
    font-size: 2em;
    transition: ease-in-out 300ms;
}

.AboutUS p:hover {
    opacity: 50%;
    transition: ease-in-out 300ms;
}

.AboutUS iframe {
    margin-top: 1em;
    box-shadow: 0 0 0.5em 0;
    transition: ease-in-out 300ms;
}

.vAboutUS>p {
    color: var(--secColor);
    font-size: 2em;
    transition: ease-in-out 300ms;
}

.vAboutUS p:hover {
    opacity: 50%;
    transition: ease-in-out 300ms;
}

.vAboutUS iframe {
    margin-top: 1em;
    box-shadow: 0 0 0.5em 0;
    transition: ease-in-out 300ms;
}

/* ///////////// SETTINGS OVERLAY ///////////// */


/* //////////// TITLE CARD ///////////// */

.siteName {
    position: absolute;
    /* display: inline-block; */
    width: fit-content;
    height: fit-content;
    left: calc(50% - 9.5rem);
}

.siteName p {
    color: rgb(0, 255, 0);
    font-size: xx-large;
    font-weight: 1000;
}

.siteName::before {
    content: '';
    background: rgb(214, 126, 255);
    display: block;
    height: 100%;
    width: 110%;
    left: -5%;
    position: absolute;
    z-index: -1;
}

.siteName::after {
    content: '';
    /* background: rgb(88, 236, 255); */
    background-image: linear-gradient(to left, var(--priColor), cyan, var(--priColor));
    transform: translateX(-42%);
    display: block;
    top: 0;
    height: 100%;
    width: 150vw;
    position: absolute;
    z-index: -2;

}

.homenav {
    position: absolute;
}

.homenav2 {
    position: fixed;
    right: 2rem;

}

.der a {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--secColor);
}

.der a[data-tool-tip] {
    position: relative;
}

.der a[data-tool-tip]::after {
    position: absolute;
    content: attr(data-tool-tip);
    display: block;
    transform: scale(0);
    padding: 0.1em;
    background-color: var(--priColor);
    color: var(--secColor);
    border: 1px solid var(--secColor);
    border-radius: 3px;
    top: 0;
    left: 50%;
    white-space: nowrap;
    transition: transform ease 300ms, top ease 300ms, left ease 300ms;
}

.der a[data-tool-tip]:hover::after {
    transform: scale(1);
    top: -40%;
    left: 100%;
}

/* .der #dimg {
    color: rgb(0, 255, 0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: linear;
} */

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 4px 4px 15px black;
    /* box-shadow: 1px 1px 5px 2px rgb(0, 255, 0), 3px 3px 5px 3px black; */
    border-radius: 1em;
    height: fit-content;
    margin: 0 10rem 0 10rem;
}

nav {
    display: flex;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 0.5rem 0 0.5rem;
}

nav img:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

nav a {
    position: relative;
}

nav span {
    position: absolute;
    transform: scale(0);
    padding: 0.1em;
    background-color: var(--priColor);
    color: var(--secColor);
    border: 1px solid var(--secColor);
    border-radius: 3px;
    top: 0;
    left: 0%;
    white-space: nowrap;
    transition: transform ease 300ms, top ease 300ms, left ease 300ms;
    z-index: 3;
}

nav a:hover span {
    transform: scale(1);
    top: -70%;
    left: 90%;

}

.placeholders {
    position: absolute;
    top: 0;
    scale: 0;
}

.placeholders img {
    opacity: 0;
    scale: 0;
}

#home,
#expl,
#user,
#about,
#up,
#left,
#right {
    width: 25px;
    height: 25px;
}


/* Home */

.outer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

}

.inner3 {
    box-shadow: 1px 1px 5px 2px rgb(0, 255, 8), 3px 3px 5px 3px black;
    border-radius: 1em;
    overflow: hidden;
}

.inner3 img:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

.inner1 {
    display: flex;
    width: 600px;
    height: 900px;
    flex-wrap: nowrap;
    flex-direction: row;
    box-shadow: 1px 1px 5px 2px rgb(0, 255, 8), 3px 3px 5px 3px black;
    margin-top: 2rem;
    border-radius: 1em;
    overflow: hidden;
}

.photo1 {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.photo1 img {
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.646);
    max-width: 100%;
    border-radius: 1em;

}

.photo1 a :hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s ease-in;
}

.inner2 {
    box-shadow: 1px 1px 5px 2px rgb(0, 255, 8), 3px 3px 5px 3px black;
    border-radius: 1em;
    overflow: hidden;
}

.inner2 img:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

/* Profile Page */

.profs {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 5px 2px rgb(0, 255, 8), 3px 3px 5px 3px black;
    border-radius: 1em;
    margin: 1rem 15rem 0 15rem;
    padding: 2rem 0 2rem 0;
}

/* About Us */

.mabaut {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 5px 2px rgb(0, 255, 0), 3px 3px 5px 3px black;
    border-radius: 1em;
    margin: 2rem 15rem 0 15rem;
    padding-bottom: 3%;
}

.mabaut ul li {
    display: inline-block;
    list-style: none;
    margin: 1rem;
    padding-right: 2rem;
}

.mabaut ul li a {
    text-decoration: none;
    color: var(--secColor);
    text-shadow: 4px 4px 15px rgb(0, 0, 0), 4px 4px 15px white;
}

.mabaut ul li a:hover {
    color: rgb(0, 255, 0);
    transition: 0.2s;
}

/* Explore Page 1 and 2*/

#up {
    background-image: linear-gradient(to right, var(--priColor), rgba(0, 255, 0, 100));
    padding: 0.8rem;
    border-radius: 40%;
}

.btb {
    position: fixed;
    top: 80%;
    right: 1rem;
    scale: 0;
    transition: ease 300ms;
}

.btbv {
    scale: 1;
    position: fixed;
    top: 80%;
    right: 1rem;

}

.exfoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 40% 1rem 40%;
}

.explphotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 20rem 1rem 20rem;
    border-radius: 1em;
    padding-bottom: 3%;
    padding-top: 3%;
    overflow: hidden;
}


.phot {
    box-shadow: 3px 3px 8px 3px black, 1px 1px 5px 1px white;
    max-width: 30%;
    border-radius: 1em;
    margin: 1rem;
    transition: ease 800ms;
    scale: 0;
}

.photV {
    box-shadow: 3px 3px 8px 3px black, 1px 1px 5px 1px white;
    max-width: 30%;
    border-radius: 1em;
    margin: 1rem;
    scale: 1;
}

/* Smaller Screens */

@media screen and (max-width: 1440px) {

    .der {
        margin: 2rem 1rem 0 1rem;
    }

    nav ul li {
        margin: 0rem 0rem 0rem 1rem;
    }

    .foot {
        margin: 0 1rem 0 1rem;
    }

    .outer :nth-child(1) {
        order: 2;
    }

    .inner1 {
        margin-bottom: 1rem;
    }

    .inner3 {
        margin-top: 14px;
    }

    .profs {
        margin: 1rem 1rem 0 1rem;
    }

    .mabaut {
        margin: 2rem 1rem 0 1rem;
    }
}